.HOLMK
.hollogs
*.ui
*.uo
*Theory.sig
*Theory.sml
*Theory.dat
heap
compilation/*.S
compilation/*.o
compilation/*.c
compilation/check_count
paper/paper.tex
paper/*.bbl
paper/*.blg
paper/*.fdb_latexmk
paper/*.fls
paper/*.log
paper/*.pdf
paper/*.aux
paper/munge.exe
paper/holtexbasic.sty
